/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 85px;
    background-color:#FFFFFF;
    color: #333;
}

/* CABEÇALHO */
header {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: rgb(14, 13, 13);
    padding-bottom: 40px;
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav img {
    width: 45px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color:#f3f3f3;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s;
    font-size: 16px;
}

.icone {
    font-weight: bold;
}

#amigaIcone {
    color: #2E7D32;
}

.botao-1 {
    background-color: #2E7D32;
    color: white;
}

.botao-2 {
    background-color: #2E7D32;
    color: white;
}

.botao-3 {
    background-color: #2E7D32;
    color: white;
}

.botao-4 {
    background-color: #2E7D32;
    color: white;
}

header nav ul li a:hover {
    color: #333;
}

header a {
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 6px;
    background-color: #fff;
    color: #2E7D32;
    font-weight: bold;
    margin: 0 10px;
    transition: .3s;
}

header a:hover {
    background-color: #c9c9c9;
    color: #333;
}

#ONGs {
    color: #2E7D32;
}

h1 {
    margin: 1%;
}

.cabecalho {
    margin: 4%;
}

/* MAPA */
.mapa {
    width: 80%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #2E7D32;
    margin-bottom: 5%;
}


/* MAIN */
#titulo {
    text-align: center;
}

.ongsContainer {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.ong {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.10);
}

.necessidades {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.necessidades p {
    background: #2E7D32;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 0.85rem;
}

.enderecos ul {
    list-style: none;
}

.enderecos li {
    display: flex;
    align-items: center;
    margin: 2%;
    gap: 5%;
}

.enderecos img {
    width: 25px;
}

.ong button {
    width: 90%;
    margin: auto auto 0 auto;
    padding: 10px 16px;
    border: none;
    background: #2E7D32;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    gap: 8px;

}

.ong button:hover {
    background: #d4d4d4;
    color: #333;
}

/* Responsivo: 2 por linha no tablet */
@media (max-width: 900px) {
    .ongsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsivo: 1 por linha no celular */
@media (max-width: 600px) {
    .ongsContainer {
        grid-template-columns: 1fr;
    }
}

/* FOOTER */
footer {
    font-size: 14px;
    font-weight: 550;
    background-color: #d4d4d4;
    color: 000;
    padding: 50px 50px;
}

.icone{
    display: flex;
    align-items: center;
}

footer .icone {
    gap: 10px;
    margin-bottom: 4%;
}

.icone img{
    width: 45px;
}

footer h2 {
    color: #2E7D32;
}

.contatos p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contatos img{
    width: 22px;
}

footer ul li a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding-bottom: 3px;
    transition: color 0.3s ease;
}

footer ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #2E7D32;
    transition: width 0.3s ease;
}

footer ul li a:hover::after {
    width: 100%;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

footer ul {
    list-style: none;
    margin: 2%;
}

footer li {
    margin-bottom:3%;
}

.contatos p {
    margin: 2%;
}

footer ul li a {
    text-decoration: none;
    color: #000;
}